@font-face {
    font-family: 'Clash Grotesk';
    src:local('ClashGrotesk-Medium'),
    local('Clash Grotesk Medium')
     url('../fonts/ClashGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Clash Grotesk';
    src:local('ClashGrotesk-Semibold'),
    local('Clash Grotesk Semibold')
     url('../fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Clash Grotesk';
    src:local('ClashGrotesk-Bold'),
    local('Clash Grotesk Bold')
     url('../fonts/ClashGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Clash Grotesk';
    src:local('ClashGrotesk-Regular'),
    local('Clash Grotesk Regular')
     url('../fonts/ClashGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
